<header class="sticky top-0 z-40 flex items-center justify-between px-6 h-20 bg-gradient-to-r from-indigo-900 via-purple-900 to-slate-900 shadow-md">

    {% load static %}
    <!-- Logo & Title -->
    <div class="flex items-center space-x-4">
        <img src="{% static 'fav_mov/images/Blue_Play_Button.png' %}" class="w-24 h-36" alt="Logo">
        <h1 class="text-white font-bold text-2xl tracking-wide">FavMovies</h1>
    </div>
    

    <!-- Search Bar -> Create partial here for inputs and their label -->
    <div class="flex items-center justify-center ml-4">
        {% include "fav_mov/partials/input.html" with placeholder="Search..." %}
    </div>
    
    <!-- Buttons -->
    <div class="flex items-center justify-center ml-auto mr-5">
        <div class="flex items-center justify-center mr-2">
            {% include "fav_mov/partials/button.html" with button_text="Submit Movie" onclick="toggleModal(); document.getElementById('delete-button').classList.add('hidden');" %}
        </div>

        <div class="flex items-center justify-center mr-2">
            {% include "fav_mov/partials/button.html" with button_text="Settings" %}
        </div>

        <div class="flex items-center justify-center mr-2">
            {% include "fav_mov/partials/button.html" with button_text="Top Rated"%}
        </div>

        <div class="flex items-center justify-center mr-2">
            {% include "fav_mov/partials/button.html" with button_text="Profile"%}
        </div>
    </div>
</header>