{% load widget_tweaks %}

<div id="modal" class="fixed inset-0 flex justify-center items-center hidden z-50">

  <!-- Background blur layer -->
  <div class="absolute inset-0 backdrop-blur-sm"></div>

  <!-- Modal content -->
  <div class="relative bg-white p-6 rounded shadow-xl w-full max-w-md z-10">
    <h2 class="text-xl font-bold mb-4">Add New Movie</h2>
    <form method="post" action="" enctype="multipart/form-data">

      {% csrf_token %}
      <!-- hidden movie id -->
      <input type="hidden" name="movie_id" id="id_movie_id">

      <p>Movie ID: {{ movie_id }}</p>

      <!-- Title -->
      <label class="block mb-2 font-semibold" for="id_title">Title</label>
      {{ form.title|add_class:"w-full p-2 border rounded mb-4" }}

      <!-- Watched checkbox -->
      <label class="inline-flex items-center mb-4">
        {{ form.watched }}
        <span class="ml-2">Watched</span>
      </label>

      <!-- IMDb URL -->
      <label class="block mb-2 font-semibold" for="id_imdb">IMDb URL</label>
      {{ form.imdb|add_class:"w-full p-2 border rounded mb-4" }}

      <!-- Date -->
      <label class="block mb-2 font-semibold" for="id_date">Release Date</label>
      {{ form.date|add_class:"w-full p-2 border rounded mb-4" }}

      <!-- Description -->
      <label class="block mb-2 font-semibold" for="id_description">Description</label>
      {{ form.description|add_class:"w-full p-2 border rounded mb-4" }}

      <!-- Genre -->
      <label class="block mb-2 font-semibold" for="id_genre">Genre</label>
      {{ form.genre|add_class:"w-full p-2 border rounded mb-4" }}

      <!-- Duration -->
      <label class="block mb-2 font-semibold" for="id_duration_min">Duration (minutes)</label>
      {{ form.duration_min|add_class:"w-full p-2 border rounded mb-4" }}

      <!-- Image -->
      <label class="block mb-2 font-semibold" for="id_image">Image</label>
      {{ form.image|add_class:"w-full mb-4" }}

      <div class="flex justify-between mt-4 space-x-2">
        <!-- Left Button -->
        <div>
          <button type="button" class="px-4 py-2 bg-red-600 text-amber-50 rounded hidden" id="delete-button">Delete</button>
        </div>
        <!-- Right buttons -->
        <div>
          <button type="button" onclick="toggleModal()" class="px-4 py-2 bg-gray-300 rounded">Cancel</button>
          <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Save</button>
        </div>
      </div>
    </form>
  </div>
  
</div>
